In [1]:
import os

directory = r'E:\2023_eBay_ML_Challenge_Data\2023 eBay ML Challenge Data'

# Get the contents of the directory
contents = os.listdir(directory)

# Print the contents
for item in contents:
    print(item)

Annexure.pdf
Listing_Titles.tsv.gz
Train_Tagged_Titles.tsv
Train_Tagged_Titles.tsv.gz

In [16]:
import pandas as pd
import gzip

file_path = r'E:\2023_eBay_ML_Challenge_Data\2023 eBay ML Challenge Data\Listing_Titles.tsv.gz'

# Read the gzipped TSV file using pandas and gzip module
with gzip.open(file_path, 'rt', encoding='utf-8') as file:
    data_frame = pd.read_csv(file, sep='\t')

# Print the contents of the dataframe
print(data_frame.head())

   Record Number                                              Title
0              1  Supreme Nike SB Dunk High By any Means Red US1...
1              2  New Balance 530 Männer und Frauen Laufschuhe m...
2              3                     ♥ MICHAEL KORS Sneaker Gr 39 ♥
3              4             New Balance ML 574 EGO Turnschuhe grün
4              5  Nike air jordan 9 og , space jam , hare , bugs...

In [31]:
# Assuming `data_frame` is your DataFrame variable
headers = data_frame.columns.tolist()
print(headers)

['Record Number', 'Title']

In [17]:
import pandas as pd

# Assuming `data_frame` is your original DataFrame
headers = data_frame.columns.tolist()

# Create a new DataFrame with selected columns
#new_df = pd.DataFrame(data_frame["Record Number"], columns=headers)

# Add the new columns with fixed values

new_df = data_frame
new_df["String1"] = "Supreme"
new_df["String2"] = "No Tag"
new_df_without_title = new_df
# Remove the "Title" column from DataFrame
#new_df_without_title = new_df.drop("Title", axis=1)
# Print the new DataFrame
print(new_df.head())

   Record Number                                              Title  String1  \
0              1  Supreme Nike SB Dunk High By any Means Red US1...  Supreme
1              2  New Balance 530 Männer und Frauen Laufschuhe m...  Supreme
2              3                     ♥ MICHAEL KORS Sneaker Gr 39 ♥  Supreme
3              4             New Balance ML 574 EGO Turnschuhe grün  Supreme
4              5  Nike air jordan 9 og , space jam , hare , bugs...  Supreme

  String2
0  No Tag
1  No Tag
2  No Tag
3  No Tag
4  No Tag

In [ ]:
import gzip


# Remove headers from DataFrame
data_without_headers = new_df_without_title.to_string(header=False)

# Define the output file name
output_file = "answers.tsv.gz"

# Save the data as a tab-separated file
with gzip.open(output_file, "wt", encoding="utf-8") as file:
    file.write(data_without_headers)

In [18]:
new_df_without_title.head(2)

,Record Number,Title,String1,String2
0,1,Supreme Nike SB Dunk High By any Means Red US1...,Supreme,No Tag
1,2,New Balance 530 Männer und Frauen Laufschuhe m...,Supreme,No Tag

In [21]:
import pandas as pd
import gzip

file_path = r"E:\2023_eBay_ML_Challenge_Data\2023 eBay ML Challenge Data\Train_Tagged_Titles.tsv.gz"

# Read the gzipped TSV file using pandas and gzip module, skipping problematic lines
skipped_lines = []
valid_data = []
with gzip.open(file_path, 'rt', encoding='utf-8') as file:
    for line_num, line in enumerate(file, start=1):
        try:
            data = line.strip().split('\t')
            # Process the data as needed
            valid_data.append(data)
        except Exception as e:
            skipped_lines.append((line_num, line))

# Print a subset of the valid data
start_index = 55150  # Adjust the start index as needed
end_index   = 55180  # Adjust the end index as needed

print(f"Subset of Valid Data ({start_index} to {end_index}):")
for data_entry in valid_data[start_index:end_index]:
    print(data_entry)

# Print the skipped lines
print("\nSkipped Lines:")
for line_num, line in skipped_lines:
    print(f"Skipped line {line_num}: {line}")

Subset of Valid Data (55150 to 55180):
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', 'Adidas', 'Marke']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', 'Superstar', 'Produktlinie']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', 'Laceless', 'Verschluss']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', '/', 'No Tag']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', 'Adidas', 'Marke']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', 'Originals', 'Produktlinie']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', '/', 'No Tag']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', 'Adidas', 'Marke']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', 'Sneaker', 'Stil']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', '/', 'No Tag']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', 'weiß', 'Farbe']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', '/', 'No Tag']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', 'schwarz', 'Farbe']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', '/', 'No Tag']
['4998', 'Adidas Superstar Laceless / Adidas Originals / Adidas Sneaker / weiß / schwarz / FV3017', 'FV3017', 'Herstellernummer']
['4999', 'HUGO BOSS Herren Schuhe Schnürschuhe Sneaker Velocity Runn rbmx2', 'HUGO', 'Marke']
['4999', 'HUGO BOSS Herren Schuhe Schnürschuhe Sneaker Velocity Runn rbmx2', 'BOSS']
['4999', 'HUGO BOSS Herren Schuhe Schnürschuhe Sneaker Velocity Runn rbmx2', 'Herren', 'Abteilung']
['4999', 'HUGO BOSS Herren Schuhe Schnürschuhe Sneaker Velocity Runn rbmx2', 'Schuhe', 'Produktart']
['4999', 'HUGO BOSS Herren Schuhe Schnürschuhe Sneaker Velocity Runn rbmx2', 'Schnürschuhe']
['4999', 'HUGO BOSS Herren Schuhe Schnürschuhe Sneaker Velocity Runn rbmx2', 'Sneaker', 'Stil']
['4999', 'HUGO BOSS Herren Schuhe Schnürschuhe Sneaker Velocity Runn rbmx2', 'Velocity', 'Modell']
['4999', 'HUGO BOSS Herren Schuhe Schnürschuhe Sneaker Velocity Runn rbmx2', 'Runn']
['4999', 'HUGO BOSS Herren Schuhe Schnürschuhe Sneaker Velocity Runn rbmx2', 'rbmx2']
['5000', 'Herren Trekking Schuhe Outdoor Sneaker Sportschuhe Wanderschuh Big Size U37', 'Herren', 'Abteilung']
['5000', 'Herren Trekking Schuhe Outdoor Sneaker Sportschuhe Wanderschuh Big Size U37', 'Trekking', 'Aktivität']
['5000', 'Herren Trekking Schuhe Outdoor Sneaker Sportschuhe Wanderschuh Big Size U37', 'Schuhe', 'Produktart']
['5000', 'Herren Trekking Schuhe Outdoor Sneaker Sportschuhe Wanderschuh Big Size U37', 'Outdoor', 'Anlass']
['5000', 'Herren Trekking Schuhe Outdoor Sneaker Sportschuhe Wanderschuh Big Size U37', 'Sneaker', 'Stil']
['5000', 'Herren Trekking Schuhe Outdoor Sneaker Sportschuhe Wanderschuh Big Size U37', 'Sportschuhe', 'Produktart']

Skipped Lines: